html {
    box-sizing: border-box;
    background-color: #eee;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
   font-family: sans-serif;
       padding: 0;
    margin: 0;
}
.top-nav {
    padding: 15px;
}
.center-intro{

	padding:30px;
	text-align: center;
	color:white;
}
.main-headline{
	font-size: 35px!important;
	margin: 30px!important;
}
.hide-elm {
	display:none!important;
}
.text-center{
	text-align: center;
}
.just-so-you-know{
	text-align: center;
	color:#222;
	font-size: 20px;
	padding-top: 60px;
}
.just-so-you-know ol{
	width: auto;
    display: inline-block;
    text-align: left;
}
#hasCsrf{
	display: none;
}