.trade-butt {
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 6px;
    font-weight: 600;
    margin-bottom: 8px;
    border: 1px solid white;
}
.trade-butt > img {
    display: inline-block;
    height: 30px;
    margin-bottom: 8px;
}
div.reduct .trade-butt > img {
    height: 25px;
    margin-bottom: 6px;
}
div.td-reduce > .trade-butt {
    padding: 4px;
    display: inline-block;
}
div.td-reduce > .trade-butt strong {
    display: none;
}
div.td-reduce > .trade-butt img {
    height: 20px;
}
.time-ticker {
    width: 100%;
}
.trade-butt > strong {
    display: block;
}
.put-butt {
    background: #30b911;
}
.call-butt {
    background: #DC143C;
}
.text-wrap-values {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 2px 0px;
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
}
.text-wrap-values > i {
    vertical-align: middle;
    line-height: 1;
}
.chart-box-100 {
    /* resize: both;
   overflow:auto */
    
    height: 100%;
}
.chart-box-50 {
    /* resize: both;
   overflow:auto */
    
    height: 50%;
}
.rt-alter {
    text-align: right!important;
    height: 40px!important;
}
.rt-alter span {
    margin: 0px!important;
    padding: 0 8px!important;
    line-height: 40px!important;
}
.profit {
    font-size: 30px;
    text-align: center;
    color: #30b911;
    -webkit-touch-callout: none;
    /* iOS Safari */
    
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    
    -khtml-user-select: none;
    /* Konqueror */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    
    user-select: none;
}
.time-v {
    margin-bottom: 0px;
    cursor: pointer;
}
.time-v:hover {
    background: rgba(255, 255, 255, 0.3);
}
.nice-colors {
    background-color: #222325;
    background: rgba(0, 0, 0, 0.25);
    background: #1a1a1a !important;
}
.plus-minus:hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
#rtTopNavUI {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
}
.background-wrap {
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#rtTopNavUI div {
    display: inline-block;
}
#tradingplatform {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 40px;
    background: rgb(40, 62, 77);
    overflow: hidden;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}
.full-view {
    left: 50px;
}
.half-view {
    left: 250px;
}
.active-spreads {
    background-color: #000;
    height: 100%;
}
#optionsView {
    display: block;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    top: 40px;
    left: 50px;
    right: 240px;
    z-index: -2;
}
#sideOptions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50px;
    top: 40px;
    background: rgba(24, 37, 46, 0.85);
    border-right: 1px solid rgba(255, 255, 255, .3);
}
#sideOptions p {
    font-size: 8px;
    padding: 0;
    margin: 0;
}
.plus-minus {
    height: 25px;
    padding: 0 4px;
    margin: 0 3px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    
    -khtml-user-select: none;
    /* Konqueror */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    
    user-select: none;
}
.option-buy-sell {
    width: 90px;
    position: absolute;
    right: 0;
    height: 100%;
    vertical-align: top;
    padding: 6px;
    padding-top: 0px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    background: rgba(24, 37, 46, 0.85);
}
div.option-buy-sell.reduct {
    width: 75px;
    padding: 0 4px 4px;
}
#sideOptions div {
    display: block;
    text-align: center;
    padding: 10px 0px;
}
.fake-logo {
    color: #00d8ff;
    font-size: 20px;
}
.fake-logo {
    margin: 0px 8px;
}
.fake-logo i {
    vertical-align: middle;
}
.span-two {
    font-size: 23px;
    margin-left: 6px;
    margin-right: 30px;
    vertical-align: middle;
}
.opts-button {
    color: white;
    cursor: pointer;
    color: silver;
}
.add-chart {
    text-align: center;
    border-radius: 4px;
    border: 1px solid #f70;
    color: #f70;
    cursor: pointer;
    height: 30px;
    margin: 5px;
    padding: 3px;
}
.add-chart > i {
    vertical-align: middle;
}