@keyframes growBig {
    from {
        opacity: 0.3;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    }
}
@-moz-keyframes growBig {
    from {
        opacity: 0.3;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    }
}
@-webkit-keyframes growBig {
    from {
        opacity: 0.3;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    }
}
@keyframes scaleSmall {
    from {
        opacity: 1;
        transform: scale(1.0);
    }
    to {
        opacity: 0.3;
        transform: scale(0.2);
    }
}
@-moz-keyframes scaleSmall {
    from {
        opacity: 1;
        -mox-transform: scale(1.0);
    }
    to {
        opacity: 0.3;
        -mox-transform: scale(0.2);
    }
}
@-webkit-keyframes scaleSmall {
    from {
        opacity: 1;
        -webkit-transform: scale(1.0);
    }
    to {
        opacity: 0.3;
        -webkit-transform: scale(0.2);
    }
}
@keyframes scaleBig {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }
    25% {
        opacity: 1;
        transform: scale(0.7);
    }
    50% {
        opacity: 1;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}
@-moz-keyframes scaleBig {
    0% {
        opacity: 1;
        -mox-transform: scale(0.5);
    }
    25% {
        opacity: 1;
        -mox-transform: scale(0.7);
    }
    50% {
        opacity: 1;
        -mox-transform: scale(0.8);
    }
    100% {
        opacity: 1;
        -mox-transform: scale(1.0);
    }
}
@-webkit-keyframes scaleBig {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.5);
    }
    25% {
        opacity: 1;
        -webkit-transform: scale(0.7);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1.0);
    }
}
@-ms-keyframes scaleBig {
    0% {
        opacity: 1;
        -ms-transform: scale(0.5);
    }
    25% {
        opacity: 1;
        -ms-transform: scale(0.7);
    }
    50% {
        opacity: 1;
        -ms-transform: scale(0.8);
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1.0);
    }
}
@-o-keyframes scaleBig {
    0% {
        opacity: 1;
        -o-transform: scale(0.5);
    }
    25% {
        opacity: 1;
        -o-transform: scale(0.7);
    }
    50% {
        opacity: 1;
        -o-transform: scale(0.8);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1.0);
    }
}
@-webkit-keyframes slideUp {
    from {
        margin-top: 110%;
    }
    to {
        margin-top: 0%;
    }
}
@keyframes slideUp {
    from {
        margin-top: 110%;
    }
    to {
        margin-top: 0%;
    }
}
@-webkit-keyframes slideUp {
    from {
        margin-top: 110%;
    }
    to {
        margin-top: 0%;
    }
}
@keyframes slideUp {
    from {
        margin-top: 110%;
    }
    to {
        margin-top: 0%;
    }
}
.li-scale {
    /*
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
     opacity: 0;
    */
  
   
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.li-slideup {
    margin-top: 110%;
}