.full-widget{
    overflow: hidden;
}
.chart-switch {
    right: 75px;
}
#scorePoints span {
    vertical-align: top;
}
div.reduct .plus-minus {
    padding: 0 2px;
    margin: 0;
}
div.reduct > .sub-v {
    margin-right: 8px;
}

@media (max-width: 700px) {
    .svg-count {
        font-size: 30px;
        margin-left: 50%;
    }
    .stat-tile {
        font-size: 6px;
        width: 20%;
    }
    #chart1view, #chart2view {
        height: 180px;
    }
    #cardContain {
     padding-right: 0px; 
    }

    .side-look-at {
       display: none;
    }
}
@media (max-height: 700px) {
    .trade-butt {
        font-size: 14px;
    }
    .trade-butt>img {
        height: 20px;
        margin-bottom: 3px;
    }
    .profit {
        font-size: 25px;
    }
   
}
@media (max-width: 950px) {} @media (max-width: 750px) {
    .stat-tile > div.count {
        font-size: 22px;
        line-height: 25px;
        padding: 0px;
        font-weight: 600;
    }
    span.top_span {
        font-size: 10px;
    }
    .svg-container{
       margin-left: 50px; 
    }
    .span-two {
        margin-right: 5px;
    }
    #chartAdOptions {
        position: fixed;
        right: 20px;
        height: 250px;
        margin-left: 0px;
        border: 1px solid white;
    }
}