.warn-modal {
   position: absolute;
   top: 8px;
   width: 250px;
   right: 90px;
   padding: 3px;
   border-radius: 2px;
   -webkit-box-shadow: 3px 5px 9px -4px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 3px 5px 9px -4px rgba(0, 0, 0, 0.75);
   box-shadow: 3px 5px 9px -4px rgba(0, 0, 0, 0.75);
   background: white;
   text-align: center;
}

.heading-block {
   display: block;
   text-align: center;
}

.heading-block i {
   font-size: 20px;
   margin: 5px;
}

.heading-block span {
   font-size: 20px;
   margin: 5px;
}

.agree-ok {
   border: 2px solid #30d94c;
   background-color: #30d94c;
   cursor: pointer;
   font-weight: 800;
   margin-bottom: 5px;
}

.agree-ok:hover {
   background-color: #fff;
   color: #30d94c;
}

.disagree-ok {
   border: 2px solid #DC143C;
   background-color: #DC143C;
   font-weight: 800;
   cursor: pointer;
}

.disagree-ok:hover {
   background-color: #fff;
   color: #DC143C;
}
