.trade-card-holder {

   display: inline-block;
   overflow: hidden;
   padding: 1px 3px;
   vertical-align: top;
}

.when-drag:hover {
   margin-left: 25px;
}

.canvasTick {
   display: inline-block;
}

.ticker-side-content {
   height: 100%;
   width: 200px;
   padding: 5px;
   color: white;
}

#tickChart {
   width: 180px;
   margin-top: 8px;
   height: 180px;
}

#tickChart a {
   display: none;
}

.t-side-h2 {
   margin: 0!important;
   font-weight: 600!important;
   font-size: 18px!important;
}

.card-active {
   border-color: #30d94c!important;
}

.apply-out {
   width: 230px;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
}

.trade-card p {
   text-align: left;
}

.normal-class {
   width: 230px;
}

.big-fa {
   font-size: 50px!important;
   vertical-align: middle;
   cursor: pointer;
   line-height: 110px!important;
}

#AddTicker {
   width: 100%;
   height: 110px;
   vertical-align: top;
   text-align: center;
   color: #73879C;
   border-radius: 2px;
   min-width: 165px;
   border: 1px solid #18252e;
   display: inline-block;
}

#AddTicker:hover {
   color: #f70;
   border-color: #73879C;
}

.reduced-class {
   width: 8%;
}

.trade-card {
   width: 100%;
   padding: 1px;
   text-align: center;
   display: inline-block;
   height: 110px;
   min-width: 165px;
   border-radius: 2px;
   cursor: pointer;
   color: white;
   background: rgb(40, 62, 77);
   border: 1px solid white;
}

.trade-card:hover {
   border-color: rgb(255, 119, 0);
}

.symb-label {
   margin: 1px;
}

#cardContain {
   padding-right: 190px;
}

#resizeAble {
   resize: vertical;
   overflow: auto;
   border-bottom: 3px solid silver;
}

#bottomLookUp {
   width: 100%;
   padding-top: 25px;
   background: white;
   position: absolute;
   bottom: 0;
   left: 0;
}

.side-look-at {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 200px;
   background: background: rgba(40, 62, 77, 0.6);
   right: 0;
}
