<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>KickStart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/png" href="/gifs/monkeyhelp.png" />
  <link href="/dist/app.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div id="hasCsrf" data-csrf="<%= csrfToken %>"></div>
  <section id="container">
  </section>
</body>

<script src="/dist/app.min.js" type="text/javascript"></script>

</html>
